* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f4f7f6;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* HEADER */
.header {
  background: #fff;
  padding: 15px 0;
  border-bottom: 3px solid #007bff;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #007bff;
  font-weight: 700;
  font-size: 24px;
}

.sub {
  color: black;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  margin-left: 25px;
}

.nav ul li a {
  color: #333;
  font-weight: 600;
}

/* HERO BOX HOME */
.hero-box {
  display: flex;
  background: linear-gradient(to left, rgb(152, 173, 177), white);
  padding: 40px;
  border-radius: 15px;
  margin-top: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  gap: 30px;
}

.hero-text {
  flex: 2;
}

.tag {
  background: #ffc107;
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: 700;
}

.hero-text h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 15px 0;
}

.btn {
  display: inline-block;
  background: #007bff;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  margin-top: 10px;
}

.hero-photo img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%; /* BULAT */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.about-photo img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px; /* KOTAK */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* ABOUT PAGE */
.about-box {
  margin-top: 30px;
  display: flex;
  gap: 40px;
}

.about-text {
  flex: 2;
}

.title-page {
  margin-top: 30px;
  font-size: 28px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  width: 180px;
  background: #eee;
}

/* FORM KONTAK */
.form-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

input,
textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #bbb;
  margin-bottom: 15px;
}

button {
  background: #007bff;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 6px;
  font-weight: 600;
}

/* FOOTER */
.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}